// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer {
    p{
        margin-bottom: .25rem;
    }
    
}